In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-02-03 17:49:33,-46.1927,168.8643,52.48,96,100,1.88
1,1,Provideniya,RU,2022-02-03 17:49:33,64.3833,-173.3000,1.26,68,40,21.74
2,2,Ushuaia,AR,2022-02-03 17:45:44,-54.8000,-68.3000,46.06,57,75,17.27
3,3,Hasaki,JP,2022-02-03 17:49:34,35.7333,140.8333,34.29,49,86,14.56
4,4,Mar Del Plata,AR,2022-02-03 17:49:35,-38.0023,-57.5575,73.87,83,0,1.99

In [3]:
# Get datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values. Get max temperature.
max_temp = city_data_df["Max Temp"]

#temps = []
#for temp in max_temp:
 #   temps.append(max(temp, 0))
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=2)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Rikitea,PF,2022-02-03 17:49:36,-23.1203,-134.9692,77.36,77,100,14.41
9,9,Atuona,PF,2022-02-03 17:49:37,-9.8000,-139.0333,78.35,70,24,17.74
13,13,Waingapu,ID,2022-02-03 17:49:39,-9.6567,120.2641,78.87,84,99,10.63
16,16,Carnarvon,AU,2022-02-03 17:49:40,-24.8667,113.6333,80.67,78,1,11.50
18,18,Busselton,AU,2022-02-03 17:49:41,-33.6500,115.3333,77.09,42,63,8.70
20,20,Saint-Philippe,RE,2022-02-03 17:49:42,-21.3585,55.7679,80.15,89,100,36.69
22,22,Chimbote,PE,2022-02-03 17:44:51,-9.0853,-78.5783,76.51,68,65,13.00
28,28,Georgetown,MY,2022-02-03 17:49:46,5.4112,100.3354,82.33,90,20,5.01
36,36,Puerto Ayora,EC,2022-02-03 17:49:50,-0.7393,-90.3518,82.36,84,10,5.99
37,37,Richards Bay,ZA,2022-02-03 17:49:51,-28.7830,32.0377,79.38,88,2,7.38

In [17]:
preferred_cities_df.count()

City_ID       174
City          174
Country       172
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [18]:
# New DF for hotel information
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
6     Rikitea      PF     77.36 -23.1203 -134.9692
9      Atuona      PF     78.35  -9.8000 -139.0333
13   Waingapu      ID     78.87  -9.6567  120.2641
16  Carnarvon      AU     80.67 -24.8667  113.6333
18  Busselton      AU     77.09 -33.6500  115.3333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through DataFrame
for index, row in hotel_df.iterrows():
    # Get lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add lat and lng to location key in params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use search term lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request
    hotels = requests.get(base_url, params=params).json()
    
    # Grab first hotel and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mar Del Plata,AR,73.87,-38.0023,-57.5575,Gran Hotel Mar del Plata
6,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
9,Atuona,PF,78.35,-9.8000,-139.0333,Villa Enata
12,Pisco,PE,74.01,-13.7000,-76.2167,Hotel San Isidro Oficial
13,Waingapu,ID,78.87,-9.6567,120.2641,Pondok Wisata Elim

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))